.container {
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;

}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;

}
.header {
    background: lightgreen;
    background: linear-gradient(to top, lightseagreen 0%, rgba(32, 178, 170, 0.8) 50%, rgba(32, 150, 170, 0) 100%);
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 22px;
    padding: 10px;

}
li:hover {
    transform: scale(1.1, 1.1);
    transition: font-size 2s linear ;
}
.main {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: deeppink;
    position: relative;
    max-width: 100%;


}
.footer {
    padding: 20px;
    font-style: italic;
    background-color: aqua;
    height: 2em;

}
.letter {
    padding: 20px;
    margin: 0;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 2em;
    color: lightyellow;
}
.sidebar {
    padding: 10px;
    background-color: orange;
    font-size: 2em;
}
.button-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    border-radius: 10px;
    border: aquamarine;
    padding: 10px;
}
button:hover {
    background-color: lightblue;
}
.video-container {
    width: 100%;
    height: auto;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-top: 20px;
    position: relative;
}
#video-player {
    width: auto;
    max-width: 100%;
    min-width: 40%;
    height: auto;
    position: relative;
}
#video-player video {
    width: auto;
    height: auto;
    background: #000;
    top: 0;
    left: 0;
}
button:active {
    background-color: lightgreen;
}
#player-buttons {
    display: flex;
    margin: 20px;
    flex-direction: row;

}
form {
    width: 600px;
    height: 400px;
    border: 1px solid white;
    top: 75px;
    right: 20px;
    position: relative;
}
#out {
    margin-left: 160px;
    position: relative;
}
a {
    text-decoration: none;
}
